.progress-bar {
  width: 100%;

}

.zero-percent {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.75rem;
}

.progress {
  position: relative;
}
