.container-fluid {
  font-size: 20px;
}

.profile-card {
  order: 2;
}

.edit-profile-button {
  order: 3;
}

@media (max-width: 768px) {
  .edit-profile-button {
    order: 0!important;
  }
  .profile-card {
    order: 2!important;
  }
}
