.container {
  max-width: 85%;
  margin-top: 1%;
}

.container {
  height: 65px;
  vertical-align: middle;
}

.page-link:focus,
.form-select:focus {
  box-shadow: none !important;
}

.clickable {
  cursor: pointer;
}
