.animal-profile-picture {
  width: 100%;
  max-width: 300px;
}
.animal-type-icon {
  width: 60px;
  height: 60px;
}
.animal-profile-picture {
  border-radius: 30px 30px 30px 30px !important;
}
.animal-type-icon {
  max-width: 100%;
  height: auto;
}
