.input-group {
  max-width: 500px;
  margin-bottom: 20px;
}

.table-title {
  margin-bottom: 20px;
}

.input-group {
  max-width: 500px;
  margin-bottom: 20px;
}

.dropdown-menu {
  cursor: pointer;
}

.btn-group {
  background-color: white;
}
